html,
body {
  height: 100%;
}

html .wrapper,
body .wrapper {
  min-height: 100%;
}

html .header,
body .header {
  margin-bottom: 4em;
}

html footer,
body footer {
  margin-top: 4em;
}

html .display h2,
body .display h2 {
  margin-bottom: 2em;
}

html .display .card,
body .display .card {
  margin-bottom: 2em;
}

